{% extends 'base.html.twig'%}
{% form_theme formSports 'bootstrap_4_layout.html.twig' %}
{% block body %}
{% if editMode %}
<h1>Mettre à jour un sport !</h1>
{% else %}
    <h1>Creation d'un nouveau sport !</h1>
{% endif %}
{% if app.user%}
{{ form_start(formSports)}}

{{ form_row(formSports.title ,{'attr': {'placeholder':"titre de sport"}})}}
{{ form_row(formSports.category)}}
{{ form_row(formSports.description ,{'attr': {'placeholder':"description de sport"}})}}
{{ form_row(formSports.image ,{'attr': {'placeholder':"Image de sport"}})}}
<button type="submit" class="btn btn-success">
{% if editMode %}
confirm modification
{% else %}
add sport
{% endif %}
</button>
{{ form_end(formSports)}}
{% else %}
<h2> connect pour ajouter un sport</h2>
<a href="{{path('security_login')}}" class="btn btn-primary">
  login</a>
{% endif %}
{% endblock %}
